{% extends 'main/index.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div>
    <form method="POST">
	    {% csrf_token %}
		    <fieldset>
                    <legend>Join Today</legend>
                    {{ form|crispy }}
            </fieldset>
            <div>
                <button class="btn btn-primary" type="submit">Sign Up</button>
            </div>
    </form>
    <div>
            <small>
                Already Have An Account? <a class="" href="{% url 'login' %}">Sign In</a>
            </small>
    </div>
</div>
{% endblock content%}
