{% extends 'main/index.html' %}
{% block content %}
    <h1 class="">Reviews by {{ view.kwargs.username }}</h1>
    {% for review in reviews %}
          <div class="">
            <div class="">
              <small class="">Posted by {{ review.user }} on {{ review.date_posted|date:"F d, Y" }}</small>
            </div>
            <p>{{ review.review_text }}</p>
            <p class="">
                Would You Reccommend Our Restaraunt to a Friend? 
                {% if review.would_you_reccommend_our_restaraunt %}
                    Yes
                {% elif not review.would_you_reccommend_our_restaraunt %}
                    No
                {% endif %}
            </p>
          </div>
    {% endfor %}
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="" href="?page=1">First</a>
        <a class="" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}

