﻿﻿{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Stylesheets -->

    <title>CIS 440 Project</title>
  </head>

  <body>
      <style>
          li {
              float: left;
              position: relative;
              display: block;
              padding: 10px;
              left: 600px;
              font-family: "Monotype Corsiva";
              font-size: 20px;
          }

          div {
              height: 64px;
              width: 200%;
          }
      </style>
      <div class="header">
          <nav class="navbar" id="nav" style="background-color:rgb(0,0,0); min-height:150px;">
              <ul class="navbar list">
                  <li>
                      <a href="/" style="color: rgb(255,255,255);">Home</a>
                  </li>
                  <li>
                      <a href="{% url 'menu' %}" style="color: rgb(255,255,255);">Menu</a>
                  </li>
                  <li>
                      <a href="#" style="color: rgb(255,255,255);">Order</a>
                  </li>
                  <li>
                      <a href="{% url 'about' %}" style="color: rgb(255,255,255);">About Us</a>
                  </li>
                  <li>
                      <a href="#" style="color: rgb(255,255,255);">Reviews</a>
                  </li>
              </ul>

          </nav>
      </div>
      <div>
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
              {{ message }}
          </div>
          {% endfor %}
          {% endif %}
          {% block content %}{% endblock content %}
      </div>

  </body>
</html>