﻿{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Stylesheets -->

    <title>CIS 440 Project</title>
  </head>

    <body>
        <nav class="">
            <div class="">
                <a class="" href="{% url 'home' %}">
                    Navbar with links on top here
                </a>

                <div class="" id="">

                    <ul class="">
                            <li class="">
                                <a class="" href="{% url 'home' %}">Home</a>
                            </li>
                        <!--only if a user is logged in (i.e. 'logout' should only be there for logged in users)-->
                            {% if user.is_authenticated%}
                                <li class="">
                                    <a></a>
                                </li>
                            {% else %}
                                <li class="">
                                    <a></a>
                                </li>
                            {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div>
            <!--If there is a success message (i.e. login success) it will display at the top-->
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <!--"Block Content is basically where other HTML files will display. For example, login.html has 'extends main/index.html' so this page should only have things that every other page will have. The top of every other HTML file should extend this one-->
            {% block content %}{% endblock content %}
        </div>

    </body>
</html>
