<!DOCTYPE html>
{% extends 'main/index.html' %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <style>
        .menu-header {
            text-align: center;
    </style>


    {% block content %}

<div>
    {% for item in items %}
    <div>{{ item.item_Name }} | {{ item.item_Ingredients}} | ${{ item.item_Price }}</div>
    {% endfor %}
</div>

<div class="menu-header">
    <h1>Our Menu</h1>
</div>

 <div class="menu-item-1">

 </div>

<div class="menu-item-2">

</div>

<div class="menu-item-3">

</div>
{% endblock content %}
</body>
</html>


