/*forms*/
.content-section {
    background-color: rgba(255,255,255, .7);
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.reviews {
    text-align: center;
}


.order-form {
    text-align: center;
}

#id_items {
    text-align: center;
    max-width: 50%;
}

.order-form select {
    margin: auto;
}

.order-button {
    text-align: center;
}

.review-button {
    text-align: center;
    margin-bottom: 1em;
}

.order-header {
    background-color: white;
    border-radius: 25px;
    width: 25%;
    padding: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.order-fieldset {
    margin-top: 60px;
}

.reviews-list {
    background-color: white;
    border-radius: 25px;
    width: 50%;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    text-align: left;
}

.reviews {
    text-align: center;
}

.logout {
    text-align: center;
}