/*forms*/
/*.forms {
    margin-top: 1.5rem;
}

.forms input, select {
    max-width: 50%;
}

.form-group {
    margin-left: 2rem;
    margin-right: 2rem;
}

.form-group input {
    max-width: 50%;
}*/

.reviews {
    text-align: center;
}


.order-form {
    text-align: center;
}

#id_items {
    text-align: center;
}